[Desktop Entry]
Categories=X-SetupEntry
Comment=Pkgdialog - ncurses frontend for Pkg 
Encoding=UTF-8
Exec=urxvt -e pkgdialog
GenericName=Pkgdialog
Icon=pet48.png
Name=Pkgdialog package manager
Terminal=true
MimeType=application/pet
Type=Application
