[Desktop Entry]
Categories=X-SetupEntry
Comment=Xpkgdialog - Xdialog frontend for Pkg 
Encoding=UTF-8
Exec=Xpkgdialog
GenericName=Xpkgdialog
Icon=pet48.png
Name=Xpkgdialog package manager
Terminal=false
MimeType=application/pet
Type=Application
